#!/bin/ksh
# |=========================================================================
# | Training System
# |=========================================================================
# |
# | Filename:  DTR.cfg
# |
# | Purpose :  File used to store the configuration parameters for training
# |
# |=========================================================================
#
# 1
#### Training database host
######
databasehost={{ database_host }}

# 2
#### Training database SID
######
databasesid={{ database_sid }}

# 3
#### Training database DBA privilege account
######
dbauser=system
dbapw={{ lookup('aws_ssm', '/{{ environment_name }}/{{ project_name }}/delius-database/db/system_password', region='{{ region }}') }}

# 4
#### Training database sys privilege account
######
sysuser=sys
dbapw={{ lookup('aws_ssm', '/{{ environment_name }}/{{ project_name }}/delius-database/db/sys_password', region='{{ region }}') }}

# 5
#### Training database delius_app_schema account
######
dasuser=delius_app_schema
daspw={{ lookup('aws_ssm', '/{{ environment_name }}/{{ project_name }}/delius-database/db/delius_app_schema_password', region='{{ region }}') }}

# 6
#### Training database delius_pool account
######
dpooluser=delius_pool
dpoolpw={{ lookup('aws_ssm', '/{{ environment_name }}/{{ project_name }}/delius-database/db/delius_pool_password', region='{{ region }}') }}

# 7
#### Training database LDAP account
######
oiduser=uid=admin,ou=system
oidpw={{ lookup('aws_ssm', '/{{ environment_name }}/{{ project_name }}/apacheds/apacheds/ldap_admin_password', region='{{ region }}') }}

# 8
#### Training database LDAP host
######
oidhost={{ ldap_host }}

# 9
#### Training database LDAP port
######
oidport={{ ldap_port }}
